body {
    background-color: rgb(13, 68, 68);
}
h1 {
    color:rgb(185, 185, 255);
}

.brand-logo {
    position: absolute;
    display:block;
    margin-left:auto;
    margin-right: auto;
    width: 120px;
    height: auto;
}