body {
    background-color: #F5DFBB;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color: #562C2C;
    font-size:2cm;
    margin-top:10px;
}
strong{
    font-size:30px;
    margin-top:20px;
    margin-left:5px;
    color:#562C2C;
}
p {
    color:#0E9594;
    margin-left:5px;
}
b {
    color:#562C2C;
}

.brand-logo {
    width: 120px;
    height: auto;
}