body {
    background-color: #F5DFBB;
}
h1 {
    color: #562C2C;
    font-size: 2cm;
    background-color:#127475;
    margin: 0px;
}
strong{
    font-size:30px;
    margin-top:40px;
    color:#562C2C;

}
p {
    color:#562C2C;
}
/* div{
    background-color: #127475;
    width: 100%;
    height: 2.5cm;
    margin-top: 0px;
} */