body{
    background-color: #F5DFBB;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: #562C2C;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: #562C2C;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul{
    color: #562C2C;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.brand-logo {
    position: absolute;
    display:block;
    margin-left:auto;
    margin-right: auto;
    width: 120px;
    height: auto;
}