body {
    background-color: #f5dfbb;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #562C2C;

}

.nav-wrapper {
                           
}

.brand-logo {
    
    width: 120px;
    height: auto;
}