


body{
    background-color: #F5DFBB;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.map {
    height: 400px;
    width: 800px;
    float: right;
    padding: 15px;
    display:inline;
    
  }

  h1{
      font-size: 50px;
      display: inline;
      color:rgb(86,44,44);
     
      
      
}
  
h5{
    color:#0E9594;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.textDiv{
      display: inline;
      width: 400px;
      font-size: x-large;
      color: rgb(86,44,44);
      font-family: Georgia, 'Times New Roman', Times, serif;
}
    

  
.brand-logo {
    
    width: 120px;
    height: auto;
}

p{
font-size: 18px;
}