


body{
    background-color: #F5DFBB;
}


.map {
    height: 400px;
    width: 900px;
    float: right;
    padding: 15px;
    display:inline;
    
  }

  h1{
      font-size: 50px;
      display: inline;
      color:#0E9594;
      font-family: Georgia, 'Times New Roman', Times, serif;
}
  

div{
      display: inline;
      width: 400px;
      font-size: x-large;
      color: rgb(86,44,44);
      font-family: Georgia, 'Times New Roman', Times, serif;
}
    

  
.brand-logo {
    position: absolute;
    display:block;
    margin-left:50%;
    margin-right: auto;
    width: 120px;
    height: auto;
   
}

