
#title{
width: 500px;
height: 400px;
background-color: #0E9594;
}

body{
    background-color: #F5DFBB;
}


.map {
    height: 400px;
    width: 900px;
    float: right;
    padding: 15px;
    display:inline;
    
  }

  h1{
      font-size: 50px;
      display: inline;
      color: black;
  }

div{
      display: inline;
      width: 400px;
      font-size: x-large;
      color: rgb(86,44,44)
    
  }
  
.brand-logo {
    position: absolute;
    display:block;
    margin-left:50%;
    margin-right: auto;
    width: 120px;
    height: auto;
   
}

